.lamaran {
  width: 100%;
  height: 100%;
  background: url("../img/banner__lamaran.png") center top;
  background-size: cover;
  background-size: 100%;
  background-repeat: no-repeat;

  &__judul {
    color: $secondary-color;
    padding: 2rem 0;
    font-size: 1.4rem;
    margin: 0;
  }

  .header__text {
    padding: 2rem 0;

    button {
      text-transform: capitalize;
      border-radius: 0.5rem;
    }
  }
}

.lamaran__content {
  padding: 1rem;
  text-align: center;
  h1 {
    font-size: 1.1rem;
  }
  .lamaran__flex {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

    .german__bg {
      background: url("../img/german.jpg") center;
      background-size: cover;
      background-size: 100%;
      background-repeat: no-repeat;
      width: 30vh;
      padding: 2rem;
      margin: 0.5rem;
      figcaption {
        color: white;
        font-size: 1.4rem;
      }
    }
    .australia__bg {
      background: url("../img/sydney.jpg") center;
      background-size: cover;
      background-size: 100%;
      background-repeat: no-repeat;
      padding: 2rem;
      width: 30vh;
      margin: 0.5rem;

      figcaption {
        color: white;
        font-size: 1.4rem;
      }
    }
    .jepang__bg {
      background: url("../img/tokyo.jpg") center;
      background-size: cover;
      background-size: 100%;
      background-repeat: no-repeat;
      padding: 2rem;
      width: 30vh;
      margin: 0.5rem;

      figcaption {
        color: white;
        font-size: 1.4rem;
      }
    }
    .amerika__bg {
      background: url("../img/usa.jpg") center;
      background-size: cover;
      background-size: 100%;
      background-repeat: no-repeat;
      padding: 2rem;
      width: 30vh;
      margin: 0.5rem;
      figcaption {
        color: white;
        font-size: 1.4rem;
      }
    }
  }
}

.testimonial {
  .uk-slideshow-items > * {
    padding: 0 1rem;
  }
}

@include media-xs {
  .lamaran .header__text {
    padding: 1rem;
  }

  .lamaran__judul {
    color: white;
    padding: 0rem 0.5rem.5rem;
    font-size: 1.4rem;
    margin: 0;
  }

  .header__text {
    padding: 1rem;

    button {
      padding: 0 10px;
      line-height: 35px;
    }
  }
}

@include media-s {
  .lamaran {
    .header__text {
      padding: 2rem;
    }
  }

  .header__text {
    padding: 2rem;
  }

  .lamaran__judul {
    color: white;
    padding: 1rem 2rem 1.5rem;
    font-size: 1.4rem;
    margin: 0;
  }

  .lamaran__content {
    .lamaran__flex {
      display: flex;
      flex-flow: column wrap;
      justify-content: center;
      align-items: center;

      .german__bg {
        background: url("../img/german.jpg") center;
        background-size: cover;
        background-size: 100%;
        background-repeat: no-repeat;
        width: 50vh;

        margin: 0.5rem;
        figcaption {
          color: white;
          font-size: 1.4rem;
        }
      }
      .australia__bg {
        background: url("../img/sydney.jpg") center;
        background-size: cover;
        background-size: 100%;
        background-repeat: no-repeat;

        width: 50vh;

        margin: 0.5rem;

        figcaption {
          color: white;
          font-size: 1.4rem;
        }
      }
      .jepang__bg {
        background: url("../img/tokyo.jpg") center;
        background-size: cover;
        background-size: 100%;
        background-repeat: no-repeat;

        width: 50vh;

        margin: 0.5rem;

        figcaption {
          color: white;
          font-size: 1.4rem;
        }
      }
      .amerika__bg {
        background: url("../img/usa.jpg") center;
        background-size: cover;
        background-size: 100%;
        background-repeat: no-repeat;

        width: 50vh;

        margin: 0.5rem;
        figcaption {
          color: white;
          font-size: 1.4rem;
        }
      }
    }
  }
}

@include media-md {
}

@include media-m {
  .lamaran {
    .header__text {
      padding: 4rem;
    }
  }

  .lamaran__content {
    padding: 1rem;
    text-align: center;
    h1 {
      font-size: 1.1rem;
    }
    .lamaran__flex {
      display: flex;
      flex-flow: row wrap;

      .german__bg {
        background: url("../img/german.jpg") center;
        background-size: cover;
        background-size: 100%;
        background-repeat: no-repeat;
        padding: 1rem;
        width: 300px;
        height: 175px;
        padding: 1rem;
        margin: 0.5rem;
        display: flex;
        justify-content: center;
        align-items: center;

        figcaption {
          color: white;
          font-size: 1.4rem;
        }
      }
      .australia__bg {
        background: url("../img/sydney.jpg") center;
        background-size: cover;
        background-size: 100%;
        background-repeat: no-repeat;
        padding: 1rem;
        width: 300px;
        height: 175px;
        padding: 1rem;
        margin: 0.5rem;
        display: flex;
        justify-content: center;
        align-items: center;

        figcaption {
          color: white;
          font-size: 1.4rem;
        }
      }
      .jepang__bg {
        background: url("../img/tokyo.jpg") center;
        background-size: cover;
        background-size: 100%;
        background-repeat: no-repeat;
        padding: 1rem;
        width: 300px;
        height: 175px;
        padding: 1rem;
        margin: 0.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        figcaption {
          color: white;
          font-size: 1.4rem;
        }
      }
      .amerika__bg {
        background: url("../img/usa.jpg") center;
        background-size: cover;
        background-size: 100%;
        background-repeat: no-repeat;
        padding: 1rem;
        width: 300px;
        height: 175px;
        padding: 1rem;
        margin: 0.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        figcaption {
          color: white;
          font-size: 1.4rem;
        }
      }
    }
  }
}

@include media-xxl {
  .lamaran {
    width: 100%;
    height: 100%;
    background: url("../img/banner__lamaran.png") center top;
    background-size: cover;
    background-size: 100%;
    background-repeat: no-repeat;

    &__judul {
      color: $secondary-color;
      padding: 1rem 0 0.5rem;
      font-size: 1.4rem;
      margin: 1rem 0;
    }

    .header__text {
      padding: 5rem 10rem;

      button {
        text-transform: capitalize;
        border-radius: 0.5rem;
      }
    }
  }
  .lamaran__content {
    padding: 1rem;
    text-align: center;
    h1 {
      font-size: 1.1rem;
    }
    .lamaran__flex {
      display: flex;
      flex-flow: row wrap;

      .german__bg {
        background: url("../img/german.jpg") center;
        background-size: cover;
        background-size: 100%;
        background-repeat: no-repeat;
        padding: 1rem;
        width: 300px;
        height: 175px;
        padding: 1rem;
        margin: 0.5rem;
        display: flex;
        justify-content: center;
        align-items: center;

        figcaption {
          color: white;
          font-size: 1.4rem;
        }
      }
      .australia__bg {
        background: url("../img/sydney.jpg") center;
        background-size: cover;
        background-size: 100%;
        background-repeat: no-repeat;
        padding: 1rem;
        width: 300px;
        height: 175px;
        padding: 1rem;
        margin: 0.5rem;
        display: flex;
        justify-content: center;
        align-items: center;

        figcaption {
          color: white;
          font-size: 1.4rem;
        }
      }
      .jepang__bg {
        background: url("../img/tokyo.jpg") center;
        background-size: cover;
        background-size: 100%;
        background-repeat: no-repeat;
        padding: 1rem;
        width: 300px;
        height: 175px;
        padding: 1rem;
        margin: 0.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        figcaption {
          color: white;
          font-size: 1.4rem;
        }
      }
      .amerika__bg {
        background: url("../img/usa.jpg") center;
        background-size: cover;
        background-size: 100%;
        background-repeat: no-repeat;
        padding: 1rem;
        width: 300px;
        height: 175px;
        padding: 1rem;
        margin: 0.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        figcaption {
          color: white;
          font-size: 1.4rem;
        }
      }
    }
  }
}

@include media-l {
  .lamaran__content {
    padding: 1rem;
    text-align: center;
    h1 {
      font-size: 1.1rem;
    }
    .lamaran__flex {
      display: flex;
      flex-flow: row wrap;

      .german__bg {
        background: url("../img/german.jpg") center;
        background-size: cover;
        background-size: 100%;
        background-repeat: no-repeat;
        padding: 1rem;
        width: 450px;
        height: 200px;
        padding: 1rem;
        margin: 0.5rem;
        display: flex;
        justify-content: center;
        align-items: center;

        figcaption {
          color: white;
          font-size: 1.4rem;
        }
      }
      .australia__bg {
        background: url("../img/sydney.jpg") center;
        background-size: cover;
        background-size: 100%;
        background-repeat: no-repeat;
        padding: 1rem;
        width: 450px;
        height: 200px;
        padding: 1rem;
        margin: 0.5rem;
        display: flex;
        justify-content: center;
        align-items: center;

        figcaption {
          color: white;
          font-size: 1.4rem;
        }
      }
      .jepang__bg {
        background: url("../img/tokyo.jpg") center;
        background-size: cover;
        background-size: 100%;
        background-repeat: no-repeat;
        padding: 1rem;
        width: 450px;
        height: 200px;
        padding: 1rem;
        margin: 0.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        figcaption {
          color: white;
          font-size: 1.4rem;
        }
      }
      .amerika__bg {
        background: url("../img/usa.jpg") center;
        background-size: cover;
        background-size: 100%;
        background-repeat: no-repeat;
        padding: 1rem;
        width: 450px;
        height: 200px;
        padding: 1rem;
        margin: 0.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        figcaption {
          color: white;
          font-size: 1.4rem;
        }
      }
    }
  }
}

@include media-xl {
  .lamaran {
    width: 100%;
    height: 100%;
    background: url("../img/banner__lamaran.png") center top;
    background-size: cover;
    background-size: 100%;
    background-repeat: no-repeat;

    &__judul {
      color: $secondary-color;
      padding: 2rem 0;
      font-size: 2rem;
      margin: 0;
    }

    .header__text {
      padding: 10rem 0;

      button {
        text-transform: capitalize;
        border-radius: 0.5rem;
      }
    }
  }
}

@include media-lg {
  .lamaran {
    width: 100%;
    height: 100%;
    background: url("../img/banner__lamaran.png") center top;
    background-size: cover;
    background-size: 100%;
    background-repeat: no-repeat;

    &__judul {
      color: $secondary-color;
      padding: 2rem 0;
      font-size: 2.5rem;
      margin: 0;
    }

    .header__text {
      padding: 12rem 0;

      button {
        text-transform: capitalize;
        border-radius: 0.5rem;
      }
    }
  }

  .lamaran__content {
    padding: 1rem;
    text-align: center;
    h1 {
      font-size: 1.1rem;
    }
    .lamaran__flex {
      display: flex;
      flex-flow: row wrap;

      .german__bg {
        background: url("../img/german.jpg") center;
        background-size: cover;
        background-size: 100%;
        background-repeat: no-repeat;
        padding: 1rem;
        width: 550px;
        height: 250px;
        padding: 1rem;
        margin: 0.5rem;
        display: flex;
        justify-content: center;
        align-items: center;

        figcaption {
          color: white;
          font-size: 1.4rem;
        }
      }
      .australia__bg {
        background: url("../img/sydney.jpg") center;
        background-size: cover;
        background-size: 100%;
        background-repeat: no-repeat;
        padding: 1rem;
        width: 550px;
        height: 250px;
        padding: 1rem;
        margin: 0.5rem;
        display: flex;
        justify-content: center;
        align-items: center;

        figcaption {
          color: white;
          font-size: 1.4rem;
        }
      }
      .jepang__bg {
        background: url("../img/tokyo.jpg") center;
        background-size: cover;
        background-size: 100%;
        background-repeat: no-repeat;
        padding: 1rem;
        width: 550px;
        height: 250px;
        padding: 1rem;
        margin: 0.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        figcaption {
          color: white;
          font-size: 1.4rem;
        }
      }
      .amerika__bg {
        background: url("../img/usa.jpg") center;
        background-size: cover;
        background-size: 100%;
        background-repeat: no-repeat;
        padding: 1rem;
        width: 550px;
        height: 250px;
        padding: 1rem;
        margin: 0.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        figcaption {
          color: white;
          font-size: 1.4rem;
        }
      }
    }
  }
}
