.pembelajaran__kelas {
  padding: 0 2rem;
}

.materi-video {
  display: flex;
  flex-flow: row wrap;
  padding: 0 1rem;

  .video__deskripsi {
    padding: 1rem;
  }
}
.banner-bahasa {
  img {
    max-width: 33rem;
  }
}
//320px
@include media-xs {
  .h1-kelasbahasa {
    font-size: 1.7rem;
  }
  .h2-downloadvideo {
    font-size: 1.1rem;
  }
}

//460px
@include media-s {
  .h2-downloadvideo {
    margin-left: 3rem;
  }
}

//568px
@include media-md {
  .h1-kelasbahasa {
    font-size: 2rem;
  }
  .h2-downloadvideo {
    font-size: 1.5rem;
  }
}

//640px
