
.tabel-td{
    text-align: initial;
}

.tabel-biodata tr td{
line-height: 2rem;
}

.ul-biodata li{
    margin: 1.5rem 0 1.5rem 0 ;
    text-align: left;
}


// Responsive Mobile

//320px
@include media-xs {
    
      .tombol-rekruitment{
          width:10rem !important;
          margin-bottom: 1rem !important;  
      } 
  }

  //460px
@include media-s {
    

  }

  //568px
 @include media-md {
    .ul-biodata{
        padding-left: 6rem;
    }
    
 }

//640px
 @include media-m {
    .ul-biodata{
        padding-left: 8rem ;
    }
 }

//768px
 @include media-xxl {

    .ul-biodata{
        padding-left: 13rem;
        
    }
 }

//992px
 @include media-l {
    .ul-biodata{
        padding-left: 16rem;
       }
 }

//1024px
 @include media-xl {
   .ul-biodata{
    padding-left: 16rem;
   }
 }


//1400px
 @include media-lg {
    .ul-biodata{
        padding-left: 15rem;
       }
 }