.cardprofilesiswa{

    padding: 3rem !important;
}

.judulfav{
    color:red;
}

.slider-profile{
    .button-tarik{
            background-color: #0088FF;
            color: white;
            font-weight: bold;
            border-bottom-right-radius: 1.5rem;
            border-top-right-radius: 1.5rem;
    }
}

.judul-fav{
    margin: 1rem 0 -1rem 3rem;font-weight: bold;
}