.perusahaan-terhubung{
    padding: 3rem;
}

.isi-medsos-perusahaan{
    p {
        font-weight: bold;
    }
}


//320px
@include media-xs {
    
    
}

//460px
@include media-s {
  

}

//568px
@include media-md {
  
  
}

//640px
@include media-m {
    .perusahaan-terhubung{
        padding: 3rem;
        padding-left: 9rem;
    }
    .isi-medsos-perusahaan{
        img{
            width: 4vh !important;
        }
    }
}

//768px
@include media-xxl {
  .isi-medsos-perusahaan{
      img{
          width: 4vh !important;
      }
  }
  
}

//992px
@include media-l {
   
  
}

//1024px
@include media-xl {
 
}


//1400px
@include media-lg {
    .perusahaan-terhubung{
        padding: 3rem;
        padding-left: 10rem;
    }
}