.perusahaan-cp {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding: 2rem;
  margin: 0 auto;
  background: #f9f9f9;
}

.menu-dashboard {
  display: inline-grid !important;
}

//320px
@include media-xs {
}

//460px
@include media-s {
}

//568px
@include media-md {
}

//640px
@include media-m {
}

//768px
@include media-xxl {
}

//992px
@include media-l {
}

//1024px
@include media-xl {
}

//1400px
@include media-lg {
}
