.tombol-upload{
cursor: pointer;
    padding: 0.6rem;
    background-color: #0088ff;
    color: white;
}

.judul-form{
    color: #BFFFFF !important;
    height: 42px;
    text-align: middle;
    margin: 2px 0 0 2px;
    padding: 9px 0 0 9px;
    margin-top: 3rem;
    }

    .label-radio{
        label{
            line-height: 45px;
        }
    }
    
.input-kode{
    width: 6rem !important;
}

.keterangan-video{
    font-size: 14px;
}


.p-code{
    padding-top: 8px;
}
