
.tabel-td{
    text-align: initial;
}

.tabel-biodata tr td{
line-height: 2rem;
}

.ul-biodata li{
    margin: 1.5rem 0 1.5rem 0 ;
    text-align: left;
}


// Responsive Mobile

@include media-xs {
    
      .tombol-rekruitment{
          width:10rem !important;
          margin-bottom: 1rem !important;  
      } 
  }

// @include media-s {
    
//   }

  
// @mixin media-md {
//     @media screen and (min-width: 568px) {
//       @content;
//     }
// }

// @mixin media-m {
//   @media screen and (min-width: 640px) {
//     @content;
//   }
// }

// @mixin media-lg {
//   @media screen and (min-width: 768px) {
//     @content;
//   }
// }


// @mixin media-l {
//   @media screen and (min-width: 992px) {
//     @content;
//   }
// }


// @mixin media-xl {
//   @media screen and (min-width: 1024px) {
//     @content;
//   }
// }



// @mixin media-lg {
//   @media screen and (min-width: 1400px) {
//     @content;
//   }
// }