.uk-active {
    text-align: center;
    .guest__avatar {
        width: 50%;
        text-align: center;
        border-radius: 50%;
    }

    h3 {
        margin: 1rem 0;
    }
}

.uk-search-default {
    width: 100% !important;
}