* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none !important;
}

ul, li {
  list-style: none;
}

body {
  font-family: 'Montserrat', sans-serif;
  height: 100vh;
}

.uk-navbar-container:not(.uk-navbar-transparent) {
  background: #f8f8f8;
  height: 80px;
}

.uk-navbar-left h4 {
  margin: 0 15px;
}

.uk-navbar-item, .uk-navbar-nav > li > a, .uk-navbar-toggle {
  font-size: 1rem !important;
}

.uk-navbar-nav > li.uk-active > a {
  color: #0088FF !important;
}

.uk-navbar-nav > li > a {
  color: black !important;
  text-transform: capitalize !important;
  -webkit-transition: .1s ease-in-out;
  transition: .1s ease-in-out;
  -webkit-transition-property: color,background-color;
  transition-property: color,background-color;
}

.navbar {
  margin: 0 !important;
}

.li__special {
  margin: 1rem 0;
}

.li__special .uk-button-default {
  color: white !important;
  font-weight: 600;
  background-color: #B22323 !important;
}

.banner {
  width: 100%;
  height: 100%;
  background: url("../img/bgBanner.png") center top;
  background-size: cover;
  background-size: 100%;
  background-repeat: no-repeat;
}

.banner__judul {
  padding: 4rem 4rem 7rem 4rem;
  color: white;
}

.bg1 {
  background-image: url("../img/bg1.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-size: 100%;
}

.bg2 {
  background-image: url("../img/bg2.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-size: 100%;
}

.steps .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  text-align: center;
}

.steps .flex figure {
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  margin: 1rem;
}

.steps .flex figure img {
  margin: 1rem 0;
}

.steps .flex figcaption h5 {
  font-size: 1.5rem;
  margin-top: 1rem;
}

.steps .flex figcaption p {
  margin-bottom: 2rem;
  padding: 0 1.5rem;
}

.card-boxes .flex-card {
  margin: 1rem;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding: 1rem;
}

.card-boxes .flex-card h1 {
  text-align: center;
  font-size: 1.5rem;
}

.card-boxes .flex-card figure {
  padding: 0 2rem;
}

.card-boxes .flex-card figure figcaption h1 {
  font-size: 1.5rem;
  margin: 1rem 0;
}

.slider-boxes .slider {
  margin: 1rem 0;
}

.slider-boxes .slider .ul-slider li {
  margin: .5rem 1rem 4rem 1rem;
}

.slider-boxes .slider .ul-slider li .uk-card-body {
  display: flow-root;
  padding: 30px 30px;
  margin: 1rem;
  min-height: 550px;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.slider-boxes .slider .ul-slider li .uk-card-body .imgSliderLowker {
  width: 147.3px;
  height: 147.3px;
}

.testimoniul {
  height: 350px;
}

.flex-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  background-color: #333;
  color: white;
}

.flex-footer ul {
  margin: 1rem;
  padding: 1rem;
}

.flex-footer ul li > a {
  color: white;
}

.flex-footer ul .header {
  font-weight: 600;
}

.flex-footer-2 {
  background-color: #333;
  color: white;
}

.flex-footer-2 .special {
  margin: 0 auto;
  text-align: center;
  padding-left: 0 !important;
}

.flex-footer-2 .social {
  margin: 1rem 0;
}

.flex-footer-2 .social a {
  margin: 0 .5rem;
}

.flex-footer-2 .social .social__img {
  width: 5vh;
}

.flex-footer-2 .social .social__img--special {
  width: 47.14px;
}

@media screen and (min-width: 320px) {
  .banner__judul {
    padding: 2rem 2rem 4rem 2rem;
    font-size: 1.8rem;
  }
  .uk-navbar-nav {
    display: none !important;
  }
  .uk-panel, .loginas {
    display: none !important;
  }
  .steps .flex figure img {
    width: 15vh;
  }
  .flex-footer {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
}

@media screen and (min-width: 460px) {
  .banner__judul {
    padding: 5rem 3rem 6rem 3rem;
  }
  .steps .flex figure {
    margin: 2rem;
  }
  .card-boxes .flex-card {
    margin: 2rem;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 1rem;
  }
  .slider-boxes .slider .ul-slider li .uk-card-body {
    margin: 2rem;
  }
  .bg3 {
    background-image: url("../img/bg3.svg");
    background-size: cover;
    background-repeat: no-repeat;
  }
}

@media screen and (min-width: 568px) {
  .banner__judul {
    padding: 7rem 3rem 8rem 3rem;
  }
}

@media screen and (min-width: 640px) {
  .uk-navbar-nav {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
  .banner__judul {
    padding: 5rem 2rem 0;
  }
  .uk-panel {
    display: flow-root !important;
  }
  .loginas {
    display: block !important;
  }
  .uk-placeholder {
    margin-bottom: 20px;
    padding: 0 !important;
    background: 0 0 !important;
    border: none !important;
  }
  .loginas {
    padding-bottom: 2rem;
  }
  .loginas h3 {
    color: white;
  }
  .loginas button {
    margin: 0 1rem;
  }
  .loginas .btn__banner {
    width: 150px;
    text-align: center;
    padding: 0 1rem !important;
  }
  .card__flex .card__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
  .card__flex figure img {
    width: 13vh;
  }
  .card__flex .caption {
    text-align: left;
  }
  .card__flex .caption ul li {
    color: black;
    margin: .5rem 0;
  }
  .slider-boxes .slider .ul-slider li .uk-card-body {
    margin: 1rem;
  }
  .steps .flex {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .steps .flex figure {
    margin: 1rem;
    width: 250px;
  }
  .steps .flex figure img {
    width: 15vh;
  }
}

@media screen and (min-width: 1400px) {
  .banner__judul {
    padding: 11rem 4rem 11rem 4rem;
  }
  .steps .flex {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .steps .flex figure {
    margin: 1rem;
    width: 320px;
  }
  .steps .flex figure img {
    width: 15vh;
  }
  .card-boxes .flex-card {
    margin: 3rem;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 1rem;
  }
  .slider-boxes .slider .ul-slider li .uk-card-body {
    margin: 1rem;
  }
  .testimoniul {
    min-height: 250px !important;
  }
  .flex-footer {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (min-width: 992px) {
  .banner__judul {
    padding: 10rem 4rem 0;
  }
  .loginas {
    padding-bottom: 5rem;
  }
  .loginas h3 {
    color: white;
  }
  .loginas button {
    margin: 0 1rem;
  }
  .loginas .btn__banner {
    width: 150px;
    text-align: center;
    padding: 0 1rem !important;
  }
  .steps .flex {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
  }
  .steps .flex figure {
    margin: 1rem;
    width: 350px;
  }
  .steps .flex figure img {
    width: 17vh;
  }
}

@media screen and (min-width: 1024px) {
  .banner__judul {
    padding: 10rem 10rem 0;
    font-size: 2rem;
  }
  .loginas {
    padding-bottom: 5rem;
  }
  .loginas h3 {
    color: white;
  }
  .loginas button {
    margin: 0 1rem;
  }
  .loginas .btn__banner {
    width: 150px;
    text-align: center;
    padding: 0 1rem !important;
  }
  .steps .flex {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
  }
  .steps .flex figure {
    margin: 1rem;
    width: 350px;
  }
  .steps .flex figure img {
    width: 17vh;
  }
  .card-boxes .flex-card {
    -webkit-box-shadow: none;
            box-shadow: none;
    margin: 1rem;
    padding: 1rem;
  }
  .card-boxes .flex-card h1 {
    text-align: center;
    font-size: 1.5rem;
  }
  .card-boxes .flex-card figure {
    padding: 0 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-flow: row-reverse;
            flex-flow: row-reverse;
  }
  .card-boxes .flex-card figure figcaption {
    padding: 0 1rem;
  }
  .card-boxes .flex-card figure figcaption h1 {
    width: 60%;
    text-align: left;
    font-size: 1.5rem;
    margin: 1rem 0;
  }
  .card-boxes .flex-card figure figcaption p {
    width: 60%;
    text-align: left;
  }
}

@media screen and (min-width: 1400px) {
  .banner__judul {
    padding: 15rem 15rem     0;
    font-size: 3.5rem;
  }
  .loginas {
    padding-bottom: 10rem;
  }
  .loginas h3 {
    color: white;
  }
  .loginas button {
    margin: 0 1rem;
  }
  .loginas .btn__banner {
    width: 150px;
    text-align: center;
    padding: 0 1rem !important;
  }
  .testimoniul {
    min-height: 250px !important;
  }
}

.uk-active {
  text-align: center;
}

.uk-active .guest__avatar {
  width: 50%;
  text-align: center;
  border-radius: 50%;
}

.uk-active h3 {
  margin: 1rem 0;
}

.uk-search-default {
  width: 100% !important;
}

.uk-tab > * {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  padding-left: 20px;
  position: relative;
  margin: .5rem;
}

.li__tab button {
  width: 200px;
}

.sidebar__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.sidebar__card .sidebar__caption ul {
  color: black;
  text-align: left;
}

.sidebar__card .sidebar__caption ul button {
  margin-top: .1rem;
  background-color: #0088FF;
  color: white;
}

.sidebar__card .sidebar__caption ul button:hover {
  background-color: #B22323;
  color: white;
}

.cardprofilesiswa {
  padding: 3rem !important;
}

.judulfav {
  color: red;
}

.slider-profile .button-tarik {
  background-color: #0088FF;
  color: white;
  font-weight: bold;
  border-bottom-right-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
}

.judul-fav {
  margin: 1rem 0 -1rem 3rem;
  font-weight: bold;
}

.bantuan-siswa {
  padding: 2rem;
}

.gambar-bantuan {
  max-width: 512px;
  margin: 0 auto;
}

.tombol-upload {
  cursor: pointer;
  padding: 0.6rem;
  background-color: #0088ff;
  color: white;
}

.judul-form {
  color: #BFFFFF !important;
  height: 42px;
  text-align: middle;
  margin: 2px 0 0 2px;
  padding: 9px 0 0 9px;
  margin-top: 3rem;
}

.label-radio label {
  line-height: 45px;
}

.input-kode {
  width: 6rem !important;
}

.keterangan-video {
  font-size: 14px;
}

.p-code {
  padding-top: 8px;
}

.tabel-td {
  text-align: initial;
}

.tabel-biodata tr td {
  line-height: 2rem;
}

.ul-biodata li {
  margin: 1.5rem 0 1.5rem 0;
  text-align: left;
}

@media screen and (min-width: 320px) {
  .tombol-rekruitment {
    width: 10rem !important;
    margin-bottom: 1rem !important;
  }
}
/*# sourceMappingURL=main.css.map */