* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none !important;
}

ul, li {
  list-style: none;
}

body {
  font-family: 'Montserrat', sans-serif;
  height: 100vh;
}

.uk-navbar-container:not(.uk-navbar-transparent) {
  background: #f8f8f8;
  height: 80px;
}

.uk-navbar-left h4 {
  margin: 0 15px;
}

.uk-navbar-item, .uk-navbar-nav > li > a, .uk-navbar-toggle {
  font-size: 1rem !important;
}

.uk-navbar-nav > li.uk-active > a {
  color: #0088FF !important;
}

.uk-navbar-nav > li > a {
  color: black !important;
  text-transform: capitalize !important;
  -webkit-transition: .1s ease-in-out;
  transition: .1s ease-in-out;
  -webkit-transition-property: color,background-color;
  transition-property: color,background-color;
}

.navbar {
  margin: 0 !important;
}

.li__special {
  margin: 1rem 0;
}

.li__special .uk-button-default {
  color: white !important;
  font-weight: 600;
  background-color: #B22323 !important;
}

.banner {
  width: 100%;
  height: 100%;
  background: url("../img/bgBanner.png") center top;
  background-size: cover;
  background-size: 100%;
  background-repeat: no-repeat;
}

.banner__judul {
  padding: 4rem 4rem 7rem 4rem;
  color: white;
}

.bg1 {
  background-image: url("../img/bg1.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-size: 100%;
}

.bg2 {
  background-image: url("../img/bg2.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-size: 100%;
}

.steps .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  text-align: center;
}

.steps .flex figure {
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  margin: 1rem;
}

.steps .flex figure img {
  margin: 1rem 0;
}

.steps .flex figcaption h5 {
  font-size: 1.5rem;
  margin-top: 1rem;
}

.steps .flex figcaption p {
  margin-bottom: 2rem;
  padding: 0 1.5rem;
}

.card-boxes .flex-card {
  margin: 1rem;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding: 1rem;
}

.card-boxes .flex-card h1 {
  text-align: center;
  font-size: 1.5rem;
}

.card-boxes .flex-card figure {
  padding: 0 2rem;
}

.card-boxes .flex-card figure figcaption h1 {
  font-size: 1.5rem;
  margin: 1rem 0;
}

.slider-boxes .slider {
  margin: 1rem 0;
}

.slider-boxes .slider .ul-slider li {
  margin: .5rem 1rem 4rem 1rem;
}

.slider-boxes .slider .ul-slider li .uk-card-body {
  display: flow-root;
  padding: 30px 30px;
  margin: 1rem;
  min-height: 550px;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.slider-boxes .slider .ul-slider li .uk-card-body .imgSliderLowker {
  width: 147.3px;
  height: 147.3px;
}

.testimoniul {
  height: 350px;
}

.flex-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  background-color: #333;
  color: white;
}

.flex-footer ul {
  margin: 1rem;
  padding: 1rem;
}

.flex-footer ul li > a {
  color: white;
}

.flex-footer ul .header {
  font-weight: 600;
}

.flex-footer-2 {
  background-color: #333;
  color: white;
}

.flex-footer-2 .special {
  margin: 0 auto;
  text-align: center;
  padding-left: 0 !important;
}

.flex-footer-2 .social {
  margin: 1rem 0;
}

.flex-footer-2 .social a {
  margin: 0 .5rem;
}

.flex-footer-2 .social .social__img {
  width: 5vh;
}

.flex-footer-2 .social .social__img--special {
  width: 47.14px;
}

.modal-kota {
  height: 30rem !important;
  margin-top: 6rem !important;
}

.panel-kota {
  height: 18rem !important;
}

.isi-modal-ln p {
  color: black !important;
}

.isi-modal-ln h4 {
  color: black !important;
}

@media screen and (min-width: 320px) {
  .banner__judul {
    padding: 2rem 2rem 4rem 2rem;
    font-size: 1.8rem;
  }
  .uk-navbar-nav {
    display: none !important;
  }
  .banner-cari, .loginas {
    display: none !important;
  }
  .steps .flex figure img {
    width: 15vh;
  }
  .flex-footer {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
}

@media screen and (min-width: 460px) {
  .banner__judul {
    padding: 5rem 3rem 6rem 3rem;
  }
  .steps .flex figure {
    margin: 2rem;
  }
  .card-boxes .flex-card {
    margin: 2rem;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 1rem;
  }
  .slider-boxes .slider .ul-slider li .uk-card-body {
    margin: 2rem;
  }
  .bg3 {
    background-image: url("../img/bg3.svg");
    background-size: cover;
    background-repeat: no-repeat;
  }
}

@media screen and (min-width: 568px) {
  .banner__judul {
    padding: 7rem 3rem 8rem 3rem;
  }
}

@media screen and (min-width: 640px) {
  .uk-navbar-nav {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
  .banner__judul {
    padding: 5rem 2rem 0;
  }
  .banner-cari {
    display: flow-root !important;
  }
  .loginas {
    display: block !important;
  }
  .uk-placeholder {
    margin-bottom: 20px;
    padding: 0 !important;
    background: 0 0 !important;
    border: none !important;
  }
  .loginas {
    padding-bottom: 2rem;
  }
  .loginas h3 {
    color: white;
  }
  .loginas button {
    margin: 0 1rem;
  }
  .loginas .btn__banner {
    width: 150px;
    text-align: center;
    padding: 0 1rem !important;
  }
  .card__flex .card__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
  .card__flex figure img {
    width: 13vh;
  }
  .card__flex .caption {
    text-align: left;
  }
  .card__flex .caption ul li {
    color: black;
    margin: .5rem 0;
  }
  .slider-boxes .slider .ul-slider li .uk-card-body {
    margin: 1rem;
  }
  .steps .flex {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .steps .flex figure {
    margin: 1rem;
    width: 250px;
  }
  .steps .flex figure img {
    width: 15vh;
  }
}

@media screen and (min-width: 1400px) {
  .banner__judul {
    padding: 11rem 4rem 11rem 4rem;
  }
  .steps .flex {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .steps .flex figure {
    margin: 1rem;
    width: 320px;
  }
  .steps .flex figure img {
    width: 15vh;
  }
  .card-boxes .flex-card {
    margin: 3rem;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 1rem;
  }
  .slider-boxes .slider .ul-slider li .uk-card-body {
    margin: 1rem;
  }
  .testimoniul {
    min-height: 250px !important;
  }
  .flex-footer {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (min-width: 992px) {
  .banner__judul {
    padding: 10rem 4rem 0;
  }
  .loginas {
    padding-bottom: 5rem;
  }
  .loginas h3 {
    color: white;
  }
  .loginas button {
    margin: 0 1rem;
  }
  .loginas .btn__banner {
    width: 150px;
    text-align: center;
    padding: 0 1rem !important;
  }
  .steps .flex {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
  }
  .steps .flex figure {
    margin: 1rem;
    width: 350px;
  }
  .steps .flex figure img {
    width: 17vh;
  }
}

@media screen and (min-width: 1024px) {
  .banner__judul {
    padding: 10rem 10rem 0;
    font-size: 2rem;
  }
  .loginas {
    padding-bottom: 5rem;
  }
  .loginas h3 {
    color: white;
  }
  .loginas button {
    margin: 0 1rem;
  }
  .loginas .btn__banner {
    width: 150px;
    text-align: center;
    padding: 0 1rem !important;
  }
  .steps .flex {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
  }
  .steps .flex figure {
    margin: 1rem;
    width: 350px;
  }
  .steps .flex figure img {
    width: 17vh;
  }
  .card-boxes .flex-card {
    -webkit-box-shadow: none;
            box-shadow: none;
    margin: 1rem;
    padding: 1rem;
  }
  .card-boxes .flex-card h1 {
    text-align: center;
    font-size: 1.5rem;
  }
  .card-boxes .flex-card figure {
    padding: 0 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-flow: row-reverse;
            flex-flow: row-reverse;
  }
  .card-boxes .flex-card figure figcaption {
    padding: 0 1rem;
  }
  .card-boxes .flex-card figure figcaption h1 {
    width: 60%;
    text-align: left;
    font-size: 1.5rem;
    margin: 1rem 0;
  }
  .card-boxes .flex-card figure figcaption p {
    width: 60%;
    text-align: left;
  }
}

@media screen and (min-width: 1400px) {
  .banner__judul {
    padding: 15rem 15rem     0;
    font-size: 3.5rem;
  }
  .loginas {
    padding-bottom: 10rem;
  }
  .loginas h3 {
    color: white;
  }
  .loginas button {
    margin: 0 1rem;
  }
  .loginas .btn__banner {
    width: 150px;
    text-align: center;
    padding: 0 1rem !important;
  }
  .testimoniul {
    min-height: 250px !important;
  }
}

.uk-active {
  text-align: center;
}

.uk-active .guest__avatar {
  width: 50%;
  text-align: center;
  border-radius: 50%;
}

.uk-active h3 {
  margin: 1rem 0;
}

.uk-search-default {
  width: 100% !important;
}

.uk-tab > * {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  padding-left: 20px;
  position: relative;
  margin: .5rem;
}

.li__tab button {
  width: 200px;
}

.sidebar__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.sidebar__card .sidebar__caption ul {
  color: black;
  text-align: left;
}

.sidebar__card .sidebar__caption ul button {
  margin-top: .1rem;
  background-color: #0088FF;
  color: white;
}

.sidebar__card .sidebar__caption ul button:hover {
  background-color: #B22323;
  color: white;
}

.cardprofilesiswa {
  padding: 3rem !important;
}

.judulfav {
  color: red;
}

.slider-profile .button-tarik {
  background-color: #0088FF;
  color: white;
  font-weight: bold;
  border-bottom-right-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
}

.judul-fav {
  margin: 1rem 0 -1rem 3rem;
  font-weight: bold;
}

.bantuan-siswa {
  padding: 2rem;
}

.gambar-bantuan {
  max-width: 512px;
  margin: 0 auto;
}

.tombol-upload {
  cursor: pointer;
  padding: 0.6rem;
  background-color: #0088ff;
  color: white;
}

.judul-form {
  color: #BFFFFF !important;
  height: 42px;
  text-align: middle;
  margin: 2px 0 0 2px;
  padding: 9px 0 0 9px;
  margin-top: 3rem;
}

.label-radio label {
  line-height: 45px;
}

.input-kode {
  width: 6rem !important;
}

.keterangan-video {
  font-size: 14px;
}

.p-code {
  padding-top: 8px;
}

.form-p p {
  font-weight: bold;
}

.tabel-td {
  text-align: initial;
}

.tabel-biodata tr td {
  line-height: 2rem;
}

.ul-biodata li {
  margin: 1.5rem 0 1.5rem 0;
  text-align: left;
}

@media screen and (min-width: 320px) {
  .tombol-rekruitment {
    width: 10rem !important;
    margin-bottom: 1rem !important;
  }
}

@media screen and (min-width: 568px) {
  .ul-biodata {
    padding-left: 6rem;
  }
}

@media screen and (min-width: 640px) {
  .ul-biodata {
    padding-left: 8rem;
  }
}

@media screen and (min-width: 768px) {
  .ul-biodata {
    padding-left: 13rem;
  }
}

@media screen and (min-width: 992px) {
  .ul-biodata {
    padding-left: 16rem;
  }
}

@media screen and (min-width: 1024px) {
  .ul-biodata {
    padding-left: 16rem;
  }
}

@media screen and (min-width: 1400px) {
  .ul-biodata {
    padding-left: 15rem;
  }
}

.form-p p {
  font-weight: bold;
}

@media screen and (min-width: 768px) {
  .form-editprofil {
    max-width: 20rem !important;
  }
}

.alljobs__banner {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.alljobs__banner img {
  width: 100%;
}

@media screen and (min-width: 320px) {
  .alljobs__banner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-flow: column-reverse wrap;
            flex-flow: column-reverse wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .alljobs__banner h1 {
    font-size: 1.5rem;
    padding: 0 0.5rem;
  }
  .alljobs__banner img {
    width: 100%;
    max-width: 797.5px;
    max-height: 495.46px;
  }
  .content {
    padding: 0 1rem;
  }
  .content .filter {
    text-align: center;
  }
  .content .flex__boxes h1 {
    font-size: 1.5rem;
  }
  .content .flex__boxes ul {
    padding-left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .content .flex__boxes ul li {
    margin: 1rem;
  }
  .content .flex__boxes ul li .uk-card-default {
    height: 563px;
  }
  .content .flex__boxes ul li .uk-card-default .img__alljobs {
    width: auto;
    height: 150px;
  }
}

@media screen and (min-width: 1400px) {
  .alljobs__banner {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
  }
  .alljobs__banner h1 {
    font-size: 1.5rem;
    padding: 0 0.5rem;
  }
  .alljobs__banner img {
    width: 100%;
  }
  .content {
    margin-top: 1rem;
  }
}

@media screen and (min-width: 992px) {
  .alljobs h1 {
    font-size: 1.7rem;
    padding: 0 0.5rem;
  }
  .filter__margin {
    padding: 0 10rem;
  }
  .filter__margin .uk-search-default .uk-search-input {
    height: 40px;
    padding-left: 6px;
    padding-right: 6px;
    background: 0 0;
    border: 1px solid grey;
  }
}

@media screen and (min-width: 768px) {
  .alljobs h1 {
    font-size: 2.5rem;
    padding: 0 10rem;
  }
}

.bannerCompany__banner {
  height: 100%;
  width: 100%;
}

.bannerCompany__banner img {
  max-height: 450px;
}

.bannerCompany__profile {
  text-align: center;
  width: 100%;
}

.bannerCompany__profile img {
  border-radius: 50%;
  max-width: 225px;
  max-height: 225px;
}

.contentCard {
  margin-bottom: 1rem;
}

.flex__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex__box a {
  margin-top: -1%;
  margin-left: 1rem;
}

.bg__detail {
  background-image: url("../img/bg-detail.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-size: 100%;
}

@media screen and (min-width: 320px) {
  .bannerCompany__profile {
    margin-top: -4rem;
  }
  .bannerCompany__profile img {
    width: 10vh;
  }
  .box-wrap {
    text-align: center;
  }
  .box-wrap h1 {
    font-size: 1.5rem;
  }
  .box-wrap .box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    margin: 1rem 0;
  }
  .box-wrap .box img {
    margin-bottom: .5rem;
  }
  .box-wrap .box p {
    margin: 0 1rem;
  }
  .stickycard {
    width: 150px;
    height: 2em;
    background-color: #0088FF;
    color: white;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    padding: 5px 0 0 22px;
  }
  .stickycard h3 {
    color: white;
    line-height: 1;
  }
  .company__card {
    padding: 0 !important;
    border-bottom-left-radius: 3rem;
    border-bottom-right-radius: 3rem;
  }
  .company__card .box__wrap {
    padding: 1rem;
  }
  .company__card ul {
    padding-left: 0;
  }
  .company__card ul li {
    margin: 1rem 0;
  }
  .company__card .uk-background-primary {
    color: white;
  }
  .company__card .uk-background-primary h3 {
    color: white;
  }
  .company__card .btn__lamar {
    text-align: center;
    margin: 1rem;
    padding: 1rem;
  }
  .company__card .company__title {
    margin: 1rem;
  }
  .company__card .company__logo {
    margin-bottom: 1rem;
  }
  .company__card p {
    padding-bottom: 1rem;
  }
}

@media screen and (min-width: 568px) {
  .company__card
.box__wrap {
    padding: 2rem;
  }
  .box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
        -ms-flex-flow: row wrap !important;
            flex-flow: row wrap !important;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 992px) {
  .bannerCompany__profile {
    margin-top: -6rem;
  }
  .bannerCompany__profile img {
    width: 15vh;
  }
}

@media screen and (min-width: 1024px) {
  .bannerCompany__profile {
    margin-top: -7rem;
  }
  .bannerCompany__profile img {
    width: 20vh;
  }
}

@media screen and (min-width: 1400px) {
  .bannerCompany__profile {
    margin-top: -8rem;
  }
  .bannerCompany__profile img {
    width: 25vh;
  }
}

.perusahaan-cp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem;
  margin: 0 auto;
  background: #f9f9f9;
}

.menu-dashboard {
  display: -ms-inline-grid !important;
  display: inline-grid !important;
}

.perusahaan-terhubung {
  padding: 3rem;
}

.isi-medsos-perusahaan p {
  font-weight: bold;
}

@media screen and (min-width: 640px) {
  .isi-medsos-perusahaan img {
    width: 4vh !important;
  }
}

@media screen and (min-width: 768px) {
  .isi-medsos-perusahaan img {
    width: 4vh !important;
  }
}

.flex-form {
  display: flex;
  flex-flow: row wrap;
  text-align: center;
  justify-content: center;
}

.flex-form .gaji-minimal {
  margin: 0.5rem 1rem;
}

.perusahaan__keamanan {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
}

.perusahaan__keamanan .form-p {
  width: 100%;
  text-align: center;
}

.pembelajaran__kelas {
  padding: 0 2rem;
}

.materi-video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  padding: 0 1rem;
}

.materi-video .video__deskripsi {
  padding: 1rem;
}

.banner-bahasa img {
  max-width: 33rem;
}

@media screen and (min-width: 320px) {
  .h1-kelasbahasa {
    font-size: 1.7rem;
  }
  .h2-downloadvideo {
    font-size: 1.1rem;
  }
}

@media screen and (min-width: 460px) {
  .h2-downloadvideo {
    margin-left: 3rem;
  }
}

@media screen and (min-width: 568px) {
  .h1-kelasbahasa {
    font-size: 2rem;
  }
  .h2-downloadvideo {
    font-size: 1.5rem;
  }
}

.pembelajaran__banner {
  padding: 1rem 1rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.pembelajaran__banner h1 {
  font-size: 1.2rem;
}

.pembelajaran__banner .hide__img {
  display: none;
}

.pembelajaran__slider {
  margin-top: 1rem;
}

.pembelajaran__slider h1 {
  font-size: 1.2rem;
}

.pembelajaran__slider .div__wrap {
  margin-top: 1rem !important;
}

.pembelajaran__slider .ul-slider li {
  margin: 1rem 1rem;
  padding: 0 1rem;
}

.pembelajaran__slider .ul-slider li .cardSliderPembelajaran {
  padding: 1rem;
  -webkit-box-shadow: 0 5px 15px rgba(199, 101, 101, 0.3);
          box-shadow: 0 5px 15px rgba(199, 101, 101, 0.3);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pembelajaran__slider .ul-slider li .imgSliderPembelajaran {
  width: 13vh;
  height: 13vh;
}

.pembelajaran__slider .ul-slider li .ul__pembelajaran {
  padding-left: 0;
}

@media screen and (min-width: 320px) {
  .pembelajaran__banner-sm {
    display: block;
  }
  .pembelajaran__banner2 {
    display: none;
  }
  .pembelajaran h1 {
    font-size: 1.5rem;
  }
  .pembelajaran__slider .ul-slider li {
    margin: 1rem 1rem;
    padding: 0 1rem;
  }
  .pembelajaran__slider .ul-slider li .cardSliderPembelajaran {
    padding: 1rem;
    -webkit-box-shadow: 0 5px 15px rgba(199, 101, 101, 0.3);
            box-shadow: 0 5px 15px rgba(199, 101, 101, 0.3);
    max-width: 22rem;
    margin: 0 auto;
  }
  .pembelajaran__slider .ul-slider li .imgSliderPembelajaran {
    width: 15vh;
    height: 15vh;
  }
  .pembelajaran__slider .ul-slider li .ul__pembelajaran {
    padding-left: 0;
  }
}

@media screen and (min-width: 640px) {
  .pembelajaran h1 {
    font-size: 1.7rem;
  }
  .pembelajaran__slider .ul-slider li {
    margin: 1rem 1rem;
    padding: 0 1rem;
  }
  .pembelajaran__slider .ul-slider li .cardSliderPembelajaran {
    padding: 1rem;
    -webkit-box-shadow: 0 5px 15px rgba(199, 101, 101, 0.3);
            box-shadow: 0 5px 15px rgba(199, 101, 101, 0.3);
    max-width: 24rem;
    margin: 0 auto;
  }
  .pembelajaran__slider .ul-slider li .imgSliderPembelajaran {
    width: 15vh;
    height: 15vh;
  }
  .pembelajaran__slider .ul-slider li .ul__pembelajaran {
    padding-left: 0;
  }
}

@media screen and (min-width: 568px) {
  .pembelajaran__banner-sm {
    display: none;
  }
  .pembelajaran__banner2 {
    display: block;
  }
  .pembelajaran h1 {
    font-size: 1.7rem;
  }
  .pembelajaran__slider .ul-slider li {
    margin: 1rem;
    padding: 0;
    max-width: 19rem;
  }
  .pembelajaran__slider .ul-slider li .cardSliderPembelajaran {
    padding: 1rem;
    -webkit-box-shadow: 0 5px 15px rgba(199, 101, 101, 0.3);
            box-shadow: 0 5px 15px rgba(199, 101, 101, 0.3);
    margin: 0 auto;
  }
  .pembelajaran__slider .ul-slider li .imgSliderPembelajaran {
    width: 15vh;
  }
  .pembelajaran__slider .ul-slider li .ul__pembelajaran {
    padding-left: 0;
  }
}

@media screen and (min-width: 1024px) {
  .pembelajaran h1 {
    font-size: 2rem;
  }
  .pembelajaran__slider .ul-slider li {
    max-width: 22rem;
  }
}

.banner-gallery {
  display: inline-flex;
  padding: 1.2rem;
}

@media screen and (min-width: 320px) {
  .h2-gallery {
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 460px) {
  .banner-gallery {
    padding: 2rem;
  }
  .h2-gallery {
    font-size: 1.4rem !important;
  }
}

@media screen and (min-width: 568px) {
  .banner-gallery {
    padding: 2rem;
  }
  .h2-gallery {
    font-size: 2rem !important;
  }
}

@media screen and (min-width: 640px) {
  .banner-gallery {
    padding: 2rem;
  }
  .h2-gallery {
    margin-top: 2rem;
    font-size: 1.8rem !important;
  }
}

@media screen and (min-width: 768px) {
  .banner-gallery {
    padding: 2rem;
  }
  .h2-gallery {
    margin-top: 2rem;
    font-size: 2.4rem !important;
  }
}

@media screen and (min-width: 992px) {
  .banner-gallery {
    padding: 3rem;
  }
  .h2-gallery {
    margin-top: 4rem;
    font-size: 2.9rem !important;
  }
}

@media screen and (min-width: 1024px) {
  .banner-gallery {
    padding: 3rem;
  }
  .h2-gallery {
    margin-top: 5rem;
    font-size: 3rem !important;
  }
}

@media screen and (min-width: 1400px) {
  .banner-gallery {
    padding: 5rem;
  }
  .h2-gallery {
    margin-top: 2rem;
    font-size: 4rem !important;
  }
}

@media screen and (min-width: 320px) {
  .konten-gallery {
    padding: 2rem;
  }
  .gallery-slider {
    padding: 2rem;
  }
}

@media screen and (min-width: 460px) {
  .gambar-gallery {
    width: 50vh;
  }
  .konten-gallery {
    padding: 3rem;
  }
  .gallery-slider {
    padding: 2rem;
  }
  .judul-gallery {
    font-size: 1.7rem;
  }
}

@media screen and (min-width: 640px) {
  .judul-gallery {
    font-size: 2rem;
  }
  .gambar-gallery {
    width: 40vh;
  }
}

@media screen and (min-width: 768px) {
  .judul-gallery {
    font-size: 2rem;
  }
  .gambar-gallery {
    width: 40vh;
  }
}

@media screen and (min-width: 992px) {
  .judul-gallery {
    font-size: 2.7rem;
  }
  .gambar-gallery {
    width: 30vh;
  }
}

@media screen and (min-width: 1400px) {
  .judul-gallery {
    font-size: 2.7rem;
  }
  .gambar-gallery {
    width: 25vh;
  }
}

.konten-perusahaan {
  padding: 1rem;
  padding-bottom: 3rem !important;
}

@media screen and (min-width: 320px) {
  .button-pendaftaran {
    width: 10rem !important;
  }
  .konten-perusahaan {
    margin: 0 1rem 0 1rem !important;
  }
}

@media screen and (min-width: 460px) {
  .konten-perusahaan {
    margin: 0 1rem 0 1rem !important;
    padding: 2rem !important;
    background-image: url(assets/img/bg.png);
  }
}

@media screen and (min-width: 568px) {
  .konten-perusahaan {
    margin: 0 2rem 0 2rem !important;
    padding: 2rem !important;
  }
}

@media screen and (min-width: 640px) {
  .konten-perusahaan {
    margin: 0 2rem 0 2rem !important;
    padding: 2rem !important;
  }
}

@media screen and (min-width: 1400px) {
  .konten-perusahaan {
    margin: 0 2rem 0 5rem !important;
    padding: 7rem !important;
  }
}

@media screen and (min-width: 640px) {
  .form-telepon {
    width: 12rem !important;
  }
}

.keterangan-ilustrasi button {
  width: 13rem !important;
}

.lamaran {
  width: 100%;
  height: 100%;
  background: url("../img/banner__lamaran.png") center top;
  background-size: cover;
  background-size: 100%;
  background-repeat: no-repeat;
}

.lamaran__judul {
  color: white;
  padding: 1rem 0 0.5rem;
  font-size: 1.4rem;
  margin: 0;
}

.lamaran .header__text {
  padding: 2rem;
}

.lamaran .header__text button {
  text-transform: capitalize;
  border-radius: 0.5rem;
}

.lamaran__content {
  padding: 1rem;
  text-align: center;
}

.lamaran__content h1 {
  font-size: 1.1rem;
}

.lamaran__content .lamaran__flex {
  display: flex;
  flex-flow: row wrap;
}

.lamaran__content .lamaran__flex .german__bg {
  background: url("../img/german.jpg") center;
  background-size: cover;
  background-size: 100%;
  background-repeat: no-repeat;
  padding: 3rem;
  width: 100vh;
}

.lamaran__content .lamaran__flex .german__bg figcaption {
  color: white;
  font-size: 1.4rem;
}

.lamaran__content .lamaran__flex .australia__bg {
  background: url("../img/sydney.jpg") center;
  background-size: cover;
  background-size: 100%;
  background-repeat: no-repeat;
  padding: 3rem;
  width: 100vh;
}

.lamaran__content .lamaran__flex .australia__bg figcaption {
  color: white;
  font-size: 1.4rem;
}

.lamaran__content .lamaran__flex .jepang__bg {
  background: url("../img/tokyo.jpg") center;
  background-size: cover;
  background-size: 100%;
  background-repeat: no-repeat;
  padding: 3rem;
  width: 100vh;
}

.lamaran__content .lamaran__flex .jepang__bg figcaption {
  color: white;
  font-size: 1.4rem;
}

.lamaran__content .lamaran__flex .amerika__bg {
  background: url("../img/usa.jpg") center;
  background-size: cover;
  background-size: 100%;
  background-repeat: no-repeat;
  padding: 5rem;
  width: 100vh;
}

.lamaran__content .lamaran__flex .amerika__bg figcaption {
  color: white;
  font-size: 1.4rem;
}
/*# sourceMappingURL=main.css.map */